
body{
    top: 0px;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 900vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


.section1{
    top: 0;
}

.section2{
    top: 100vh;

}

.section3{
    top: 200vh;
}

.section4{
    top: 300vh;
}

main>:nth-child(5){
    top: 400vh;
    background-color: #cc383b;
}

main>:nth-child(6){
    top: 500vh;
    background-color: #cc5e66;
}

main>:nth-child(7){
    top: 600vh;
    background-color: #ff1015;
}

main>:nth-child(8){
    top: 700vh;
    background-color: #c7cc1c;
}

main>:nth-child(9){
    top: 800vh;
    background-color: #1bcc3d;
}

/*==================================== Section 1 ==================================*!*/


.container {
    background-color: #ffffff;
    position: relative;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color:#E8EEF1;
    box-shadow: 0px 0px 18px rgb(0 0 0 /40%);
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    width: 100%;
    left: 0;
    top: 0;
}

.navbar li.logo,
.navbar li.navbar_items {
    list-style-type: none;
    display: inline-block;
}

.navbar li a {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: #9c27b0;
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar li.navbar_items a:hover {
    color:  #9c27b0;
    border-bottom-style: ridge;
    border-bottom-color: #9c27b0;
    padding-bottom: 5px;
}

.navbar li.icon {
    display: none;
}

.div_navbar_items {
    float: right;
    padding-right:1%;
}


.intro{
    position: relative;
    top: -45%;
    left: 38%;
    width: max-content;
    height: max-content;
    text-align:center;
    margin: 0;
    padding: 0;
}


.intro1 {
    position: relative;
    top: -56%;
    left: 58%;
    width: max-content;
    height: max-content;
    text-align: center;
    margin: 0;
    padding: 0;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5) {
    position: relative;
    top: -55%;
    left: 45%;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1 {
    position: center;
    color: #e040fb;
    font-family: Quicksand;
    font-size: 420%;
    font-weight: 600;
    text-transform: uppercase;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px) rotate(90deg);
    transform-origin: left;
    animation: in 0.5s forwards;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(1) {
    animation-delay: 0.1s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(2){
    animation-delay: 0.2s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(3){
    animation-delay: 0.3s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(4){
    animation-delay: 0.4s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(5){
    animation-delay: 0.5s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(6){
    animation-delay: 0.6s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(7){
    animation-delay: 0.7s;
}

main>:nth-child(1)>:nth-child(1)>:nth-child(5)>h1>:nth-child(8){
    animation-delay: 0.8s;
}


@keyframes in {
    0% {
        opacity: 0;
        transform: translateY(50px) rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}


.pre1 {
    color: #d500f9;
    font-size: 90px;
    font-family: Quicksand;
}

.pre2{
    color: #9c27b0;
    font-size: 40px;
    font-family: Quicksand;
}

@media screen and (max-width:875px) {
    .navbar li.navbar_items {
        display: none;
    }
    .navbar li.icon {
        float: right;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 19px;
    }
}

@media screen and (max-width:875px) {
    .navbar.responsive {
        position:fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(236,201,205, 1);
        transition: background-color .6s;
    }

    .navbar.responsive li.logo {
        floatL: left;
        display: block;
    }
    .navbar.responsive .div_navbar_items {
        float: none;
        padding-right:0;
    }

    .navbar.responsive li.navbar_items {
        display: block;
        padding: 50px;
        font-size: 25px;
    }
    .navbar.responsive li.navbar_items a {
        display: block;
        text-align: center;
    }

    .navbar.responsive li.navbar_items a:hover{
        color:#17171e;
        border-bottom-color: transparent;

    }


}

/*================================ Section 2 ==================================*!*/



main>:nth-child(2)>:nth-child(1){
    position: relative;
    top: 10%;
    left: 2.5%;
    width: 40%;
    height: 80%;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

main>:nth-child(2)>:nth-child(1)>div{
    position: relative;
    margin: 0;
    padding: 0;
}


main>:nth-child(2)>:nth-child(1)>:nth-child(1){
    top: 22%;
    left: 12%;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
}

main>:nth-child(2)>:nth-child(1)>:nth-child(1)>p{
    font-size:  127%;
    padding: 0;
    margin: 0;
}


main>:nth-child(2)>:nth-child(2){
    position: relative;
    width: 50%;
    height: 80%;
    top: -73%;
    left: 47%;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px rgb(0 0 0 /40%);
}

main>:nth-child(2)>:nth-child(2)>div{
    position: relative;

}

main>:nth-child(2)>:nth-child(2)>:nth-child(1){
    top: 10%;
    left: 13%;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
}

.aboutme {
    top: 14%;
    left: 23%;
    width: max-content;
    height: max-content;
    padding-top: 1%;
}

/*============================ Section 3 ==================================*/




main>:nth-child(3)>:nth-child(1){
    position: relative;
    top: 10%;
    left: 5%;
    width: 50%;
    height: 80%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 18px rgb(0 0 0 /40%);
}


.skill_title h2{
    position: relative;
    top: 14%;
    left: 9%;
    margin: 0;
    padding: 0%;
}

.skill_title{
    position: relative;
    left: 7%;
    top: 7%;
    height: max-content;
    width: max-content;
    margin: 0;
    padding: 0;
}

.skill {
    position: relative;
    float: left;
    top: 10%;
    left: 11%;
    width: 80%;
    padding-bottom: 30px;
    margin: 0;
}

.skill_bar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    color: #afafaf;
}

.progges{
    width: 100%;
    background-color: #ebebeb;
    height: 10px;
    border-radius: 10px;
    position: relative;
    padding: 0;
    margin: 0;
}

.pres1{
    width: 60%;
    height: 10px;
    background-color: #e91e63;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(233 30 99 / 60%);
    padding: 0;
    margin: 0;
}


.pres_dot1 span{
    font-size:10px;
    position:relative;
    top: 13%;
    left: 25%;
    margin: 0;
    padding: 0;
}

.pres_dot1{
    background-color: #e91e63;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgb(233 30 99 / 60%);
    position: relative;
    top: -96%;
    left: 97%;
    margin: 0;
    padding: 0;
}

.pres2{
    width: 70%;
    height: 10px;
    background-color: #9c27b0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(156 39 176 / 60%);
    padding: 0;
    margin: 0;
}


.pres_dot2 span{
    font-size:10px;
    position:relative;
    top: 13%;
    left: 25%;
    margin: 0;
    padding: 0;
}

.pres_dot2{
    background-color: #9c27b0;
    box-shadow: 0px 0px 10px 0px rgb(156 39 176 / 60%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -96%;
    left: 97%;
    margin: 0;
    padding: 0;
}


.pres3{
    width: 50%;
    height: 10px;
    background-color: #2196f3;
    box-shadow: 0px 0px 10px 0px rgb(33 150 243 / 60%);
    position: relative;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}


.pres_dot3 span{
    font-size:10px;
    position:relative;
    top: 13%;
    left: 25%;
    margin: 0;
    padding: 0;
}

.pres_dot3{
    background-color: #2196f3;
    box-shadow: 0px 0px 10px 0px rgb(33 150 243 / 60%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -96%;
    left: 97%;
    margin: 0;
    padding: 0;
}

.pres4{
    width: 60%;
    height: 10px;
    background-color: #ffc107;
    box-shadow: 0px 0px 10px 0px rgb(255 193 7 / 60%);
    position: relative;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}


.pres_dot4 span{
    font-size:10px;
    position:relative;
    top: 13%;
    left: 25%;
    margin: 0;
    padding: 0;
}

.pres_dot4{
    background-color: #ffc107;
    box-shadow: 0px 0px 10px 0px rgb(255 193 7 / 60%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -96%;
    left: 97%;
    margin: 0;
    padding: 0;
}

.pres5{
    width: 0%;
    height: 10px;
    background-color: #ff5722;
    box-shadow: 0px 0px 10px 0px rgb(255 87 34 / 60%);
    position: relative;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}


.pres_dot5 span{
    font-size:10px;
    position:relative;
    top: 13%;
    left: 25%;
    margin: 0;
    padding: 0;
}

.pres_dot5{
    background-color: #ff5722;
    box-shadow: 0px 0px 10px 0px rgb(255 87 34 / 60%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -96%;
    left: 97%;
    margin: 0;
    padding: 0;
}

main>:nth-child(3)>:nth-child(2){
    position: relative;
    top: -80%;
    left: 60%;
    width: 40%;
    height: 100%;
    background-color: white;
}










/*============================ Section 4 ==================================*/




main>:nth-child(4)>:nth-child(1){
    position: relative;
    top: 10%;
    left: 35%;
    width: 60%;
    height: 80%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px rgb(0 0 0 /40%);
}

main>:nth-child(4)>:nth-child(1)>nav{
    position: relative;
    margin: 0;
    padding: 0;
}

.level1{
    top: 35%;
    left: 7%;
    width: 35%;
    height: 17%;
    border-radius: 20px;
    background-color: #ebebeb;
    box-shadow: 0px 0px 18px rgb(255 61 0 /40%);
}

.level2{
    position: relative;
    top: 52%;
    left: 7%;
    width: 35%;
    height: 17%;
    border-radius: 20px;
    background-color: #ebebeb;
    box-shadow: 0px 0px 18px rgb(255 145 0 /40%);
}

.level1_bar{
    top: -6%;
    left: 49%;
    width: 1%;
    height: 60%;
    border-radius: 20px;
    background-color: #ebebeb;
}

.level2_bar{
    position: relative;
    top: 62%;
    left: 0%;
    width: 100%;
    height: 38%;
    border-radius: 20px;
    background-color: #00e676;
}


.level3_bar{
    position: relative;
    top: 31%;
    left: 0%;
    width: 100%;
    height: 31%;
    border-radius: 20px;
    background-color: #ff9100;
}

.level4_bar{
    position: relative;
    top: 18%;
    left: 0%;
    width: 100%;
    height: 13%;
    border-radius: 20px;
    background-color: #ff3d00;
}



.level3{
    top: -42%;
    left: 58%;
    width: 35%;
    height: 17%;
    border-radius: 20px;
    background-color: #ebebeb;
    box-shadow: 0px 0px 18px rgb(0 230 118 /40%);
}

.level4{
    top: -93%;
    left: 58%;
    width: 35%;
    height: 17%;
    border-radius: 20px;
    background-color: #ebebeb;
    box-shadow: 0px 0px 18px rgb(255 61 0 /40%);
}

.level_p1{
    position: relative;
    top: 12%;
    left: 10%;
    margin: 0;
    padding: 0;
}

.level_p2{
    position: relative;
    top: 18%;
    left: 10%;
    margin: 0;
    padding: 0;
}

.level_p3{
    position: relative;
    top: 29%;
    left: 0%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.edu_title{
    top: 10%;
    left: 8%;
}

.education{
    margin: 0;
    padding: 0;
}

.edu_icon{
    position: absolute;
    top: 20%;
    left: 48%;
    width: 7%;
    height: 10%;
    background-color: #bc51cc;
}




/*============================ Section 5 ==================================*/








/*============================ Section 6 ==================================*/



.project{
    position: relative;
    top: -54%;
    left: 48%;
    width: max-content;
    height: max-content;
}

.my_project{
    margin: 0;
    padding: 0;
}

.project_name{
    position: relative;
    top: 47%;
    left: 0%;
    text-align: center;
}

.project1{
    position: relative;
    top: -51%;
    left: 52%;
    width: 18%;
    height: 25%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 18px rgb(0 0 0 /70%);
}

.project1:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 18px rgb(255 61 0 /70%);
}

.project2{
    position: relative;
    top: -79.2%;
    left: 77%;
    width: 18%;
    height: 25%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 18px rgb(0 0 0 /70%);
}

.project2:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 18px rgb(255 61 0 /70%);
}

.project3{
    position: relative;
    top: -68%;
    left: 52%;
    width: 18%;
    height: 25%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 18px rgb(0 0 0 /70%);
}

.project3:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 18px rgb(255 61 0 /70%);
}








/*============================ Section 7 ==================================*/


.interest_title{
    position: relative;
    top: -75%;
    left: 44%;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
}

.interest{
    margin: 0;
    padding: 0;
}



.pro_title{
    position: relative;
    top: -65%;
    left: 54.5%;
    width: max-content;
    height: max-content;
}

.pro_title h4{
    margin: 0;
    padding: 0;
}



.mus_title{
    position: relative;
    top: -48%;
    left: 56.5%;
    width: max-content;
    height: max-content;
}

.mus_title h4{
    margin: 0;
    padding: 0;
}



.tra_title{
    position: relative;
    top: -114.4%;
    left: 83%;
    width: max-content;
    height: max-content;
}

.tra_title h4{
    margin: 0;
    padding: 0;
}


.spo_title{
    position: relative;
    top: -97.4%;
    left: 83.5%;
    width: max-content;
    height: max-content;
}

.spo_title h4{
    margin: 0;
    padding: 0;
}


/*============================ Section 8 ==================================*/







/*============================ Section 9 ==================================*/